body {
  margin: 0;
  font-family: sans-serif;
}


header {
  padding: 16px;
  background-color: #eeeeee;
}

header h1 {
  margin: 8px;
  text-align: center;
}

header nav {
  text-align: center;
}

header nav a {
  padding: 8px;
  font-size: 1.25em;
}


label {
  display: inline-block;
  width: 150px;
}


.div-with-h2-div {
  margin: 16px;
}

.div-with-h2-div > h2 {
  margin: 0;
}

.div-with-h2-div > div {
  margin-left: 16px;
}


.overview > div > div {
  margin-bottom: 8px;
}

.overview > div > div > h3 {
  margin: 0;
  font-weight: normal;
}
.overview > div > div > h4 {
  margin: 0 0 0 16px;
  font-weight: normal;
}


.diary > div > div {
  margin-bottom: 8px;
  cursor: pointer;
  border: 1px solid;
}

.diary > div > div > h3 {
  margin: 0;
  font-weight: normal;
}

.diary > div > div > h4 {
  margin: 0 0 0 16px;
  font-weight: normal;
}


#create-food {
  margin: 16px;
}

#create-food h2 {
  margin: 0;
}

#create-food div {
  margin-left: 16px;
}

#create-food label, #create-food input {
  display: block;
}

#create-food input {
  margin: 0 16px 8px 0;
}

table {
  border-collapse: collapse;
}

caption {
  padding: 10px;
}

td, th {
  border: 2px solid gray;
  padding: 10px 20px;
}
