/* CLASSES */
.hidden {
  display: none;
}
/* CLASSES */

body {
  margin: 0;
  font-family: "Arial";
}

dl {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-size: 1.4rem;
}

button,
input[type="submit"] {
  font-size: 1rem;
  cursor: pointer;
  padding: .7rem 1rem;
  border: 1px solid #bbbbbb;
  border-radius: 8px;
}

table {
  width: 100%;
  font-size: 1.3rem;
  border-collapse: collapse;
}

td, th {
  border: 1px solid;
}

td {
  height: 50px;
  padding: 0 1rem;
  text-align: center;
}

.food {
  cursor: pointer;
  background-color: #dddddd;
}

form {
  margin-left: 1rem;
}

label {
  display: block;
  font-size: 1.4rem;
}

input {
  padding: .7rem 1rem;
  border: 1px solid #bbbbbb;
  border-radius: 8px;
}

.label-input {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* HEADER */
header {
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

header > h1 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: 1.9rem;
}

/* HEADER */

/* MAIN */
main {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

main > article {
  margin: 1rem;
}

main > article > h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  border-bottom: 1px solid;
}

/* MAIN */

section h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  border-bottom: 1px solid;
}

#open-buttons {
  text-align: center;
}

#open-buttons button {
  margin: .5rem .5rem;
}
